/* Style for the footer of RateMyPet */

.footer {
    font-size: 25px;
    background-color: #DB5254;
    text-align: center;
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: gray;
    text-decoration: none;
}