/* Style for the footer of RateMyPet */

.footer {
    z-index: 10;
    font-size: 25px;
   /* background-color: #DB5254;*/
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    text-align: center;
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: gray;
    text-decoration: none;
}