img#centered-offline {
    width: 200px;
    height: 200px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width:auto;
	min-height:150px;
	padding-bottom: 10px;
    margin-bottom: 50px;
}

.content-inline{
    display: flex; 
}

.content-error {
    text-align: center;
    font-size: 50px;
}

table {
    text-align: center;
    margin-top: 50px;
}

table td {
    padding: 10px;
}

.display-pets {
    display: table;
    align-items: center;
    justify-content: center;
}

.display-pets img {
    width: 80px;
    height: 80px;
}

.display-pets ul {
    display: flex;
    align-items: center;
}

.display-pets li {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.display-pets ul li a {
    display: flex;
    text-decoration: none;
}


#info{
    font-size: 20px;
    text-align:left;
    font-weight: bold;
    width:400px;
}
#rankingPerfil{
    font-size: 20px;
    text-align:center;
    font-weight: bold;
    width:500px;
}

.button-create{
    border:none;
    display:inline-block;
    padding:8px 16px;
    text-decoration:none;
    color:inherit;
    background-color: #FADBD8;
    font-size: 18px;
    cursor:pointer;
    white-space:nowrap;
}

.button-create:hover{
    color:#fff!important;
    background-color:#CD5C5C!important
}

#button-follow {
    color: black;
    background: #fff;
    border: 2px solid #008cba;
    border-radius: 6px;
    color: #333333;
    padding: 12px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
#button-follow:hover{
    background-color: #008CBA; 
    color: #f5f4f4; 
    border: 2px solid #008CBA;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #5defe3;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(18, 187, 173, 0.25);
}
.form-control::placeholder {
    color: #6c757d;
    opacity: 1; 
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1; 
}

.grupo-control {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 5px;
}

a {
    color: black;
    /*text-decoration: none;*/
}

/*Pet Profile*/

.data { /* Pet Data */
    width: 100%;
    height: 60%;
    margin-bottom: 50px;
}

.pets {
    width: 100%;
    height: 40%;
}

.add-pet {
    margin-top: 100px;
}

.button-create#addpet {
    margin-bottom: 100px;
    font-size: 20px;
}

img.pet-pic {
    width: 100px;
    height: 100px;
    margin: auto;
}

hr { /*Horizontal Division*/
    width: 100%;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color:#666;
    border: 0 none;
    margin-top: 30px;
}

.pet-view {
    width: 100%;
}

.profile-image img {
    width: 180px;
    height: 180px;
    margin-top: 20px;
}

/* Edit profile */

.edit {
    text-align: center;
}

.edit .edit-title {
    text-align: center;
}

.edit .edit-photo img {
    width: 180px;
    height: 180px;
}

.edit .info {
    text-align: center;
}

.edit table {
    margin-left:auto; 
    margin-right:auto;
}

.edit table td {
    margin-top: 100px;
}

.button-create#update {
    margin-top: 50px;
    margin-left: 48%; 
}