/*  Ranking */

img.pet-pic {
    width: 100px;
    height: 100px;
    margin: auto;
}

img.pet-pic-2 {
    width: 160px;
    height: 160px;
    margin: auto;
}

.rank {
    margin-top: 20px;
    margin-bottom: 30px;
}

.timer h1.title {
    margin-top: 20px;
}

h1#timer {
    font-size: 60px;
    margin-bottom: 20px;
}

.medal {
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 100px;
}

